body{
    background-image: url(img/interfond.png);
    font-family: 'Anton', sans-serif;
}
.logo{
    width: 200px;
    margin: 0 auto;
    border-radius: 500px;
}
.flex-logo{
    display: flex;
    justify-content: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    width: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 200px;
    
}


.question{
    
    font-size: 300%;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 0;
    
}


.reponse{
    
    text-align: center;
    font-size: 500%;
}
.reponse{
    
    text-align: center;
    font-size: 400%;
    font-family: 'Anton', sans-serif;
    color: rgb(173, 153, 97);
    margin: auto;
    display: inline-block;
    border: none;
    background: none;
    outline: none;
}
.boxquestion{
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    max-width: 800px;
    background-color: rgb(173, 153, 97);
    margin-bottom: 20px;
}

button{
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    color: white;
    background-color: rgb(173, 153, 97);
    margin-bottom: 20px;
    font-weight: bold;
    /* text-decoration: none; */
}

.good{
    color: yellowgreen;
    text-align: center;
    font-size: 200%;
    list-style: none;
}

ul{padding: 0;}

@media only screen and (max-width: 800px) {
    body{
        background-size: 50%;
    }
    a{
        margin-bottom: 80px;
    }
    img{
        width: 25%;
    }
    .question{
        font-size: 220%;
    }
    .reponse{
        font-size: 200%;
    }

}