body{
    background-image: url(img/interfond.png);
}
.flex-container{
    display: flex;
    justify-content: center;
}


img{
    width: 250px;
    
}

.question{
    font-size: 300%;
    color: rgb(177, 159, 82);
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
}

textarea{
    width: 200px;
}
.textbox{
    margin: auto;
    display: inline-block;
}
.boxquestion{
    margin: auto;
    width: 60%;
}