body{
    background-image: url(img/interfond.png);
}
.flex-container{
    display: flex;
    justify-content: center;
}
a{
    width: fit-content;
    margin: auto;
    border-radius: 50%;
}
img{
    width: 250px;
    border-radius: 50%;
    
    
    
}

.question{
    
<<<<<<< HEAD
    font-size: 300%;
=======
    font-size: 400%;
>>>>>>> 2a8151e4bcde7fd83aa2eca476a1300b4a0c4fc3
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 0;
    
}

<<<<<<< HEAD

.reponse{
    
    text-align: center;
    font-size: 500%;
=======
textarea{
    width: 200px;
}
.reponse{
    
    text-align: center;
    font-size: 200%;
>>>>>>> 2a8151e4bcde7fd83aa2eca476a1300b4a0c4fc3
    font-family: 'Anton', sans-serif;
    color: rgb(173, 153, 97);
    margin: auto;
    display: inline-block;
    border: 0;
    background: none;
    outline: none;
}
.boxquestion{
    border-radius: 2% 2%;
    margin: auto;
    width: 60%;
<<<<<<< HEAD
    max-width: 800px;
    background-color: rgb(173, 153, 97);
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    body{
        background-size: 50%;
    }
    a{
        margin-bottom: 80px;
    }
    img{
        width: 25%;
    }
    .question{
        font-size: 220%;
    }
    .reponse{
        font-size: 200%;
    }
=======
    background-color: rgb(173, 153, 97);
    margin-bottom: 20px;
>>>>>>> 2a8151e4bcde7fd83aa2eca476a1300b4a0c4fc3
}